<h1>New behavior_tweet</h1>

<% form_for(@behavior_tweet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </p>
  <p>
    <%= f.label :tweet_id %><br />
    <%= f.text_field :tweet_id %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :source %><br />
    <%= f.text_area :source %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :in_reply_to_status_id %><br />
    <%= f.text_field :in_reply_to_status_id %>
  </p>
  <p>
    <%= f.label :in_reply_to_user_id %><br />
    <%= f.text_field :in_reply_to_user_id %>
  </p>
  <p>
    <%= f.label :truncated %><br />
    <%= f.text_field :truncated %>
  </p>
  <p>
    <%= f.label :in_reply_to_screen_name %><br />
    <%= f.text_field :in_reply_to_screen_name %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </p>
  <p>
    <%= f.label :flagged %><br />
    <%= f.check_box :flagged %>
  </p>
  <p>
    <%= f.label :dataset_id %><br />
    <%= f.text_field :dataset_id %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </p>
  <p>
    <%= f.label :dataset_id %><br />
    <%= f.text_field :dataset_id %>
  </p>
  <p>
    <%= f.label :pubdate %><br />
    <%= f.datetime_select :pubdate %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_area :link %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :realname %><br />
    <%= f.text_field :realname %>
  </p>
  <p>
    <%= f.label :storyquery %><br />
    <%= f.text_field :storyquery %>
  </p>
  <p>
    <%= f.label :datetime %><br />
    <%= f.text_field :datetime %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :analysis_finished %><br />
    <%= f.text_field :analysis_finished %>
  </p>
  <p>
    <%= f.label :tweet_collector_id %><br />
    <%= f.text_field :tweet_collector_id %>
  </p>
  <p>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.label :retweet_count %><br />
    <%= f.text_field :retweet_count %>
  </p>
  <p>
    <%= f.label :shared_words %><br />
    <%= f.text_area :shared_words %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', behavior_tweets_path %>