<p>
  <b>Twitter:</b>
  <%=h @behavior_tweet.twitter_id %>
</p>

<p>
  <b>Tweet:</b>
  <%=h @behavior_tweet.tweet_id %>
</p>

<p>
  <b>Text:</b>
  <%=h @behavior_tweet.text %>
</p>

<p>
  <b>Language:</b>
  <%=h @behavior_tweet.language %>
</p>

<p>
  <b>Source:</b>
  <%=h @behavior_tweet.source %>
</p>

<p>
  <b>User:</b>
  <%=h @behavior_tweet.user_id %>
</p>

<p>
  <b>Screen name:</b>
  <%=h @behavior_tweet.screen_name %>
</p>

<p>
  <b>Username:</b>
  <%=h @behavior_tweet.username %>
</p>

<p>
  <b>Location:</b>
  <%=h @behavior_tweet.location %>
</p>

<p>
  <b>In reply to status:</b>
  <%=h @behavior_tweet.in_reply_to_status_id %>
</p>

<p>
  <b>In reply to user:</b>
  <%=h @behavior_tweet.in_reply_to_user_id %>
</p>

<p>
  <b>Truncated:</b>
  <%=h @behavior_tweet.truncated %>
</p>

<p>
  <b>In reply to screen name:</b>
  <%=h @behavior_tweet.in_reply_to_screen_name %>
</p>

<p>
  <b>Created at:</b>
  <%=h @behavior_tweet.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @behavior_tweet.updated_at %>
</p>

<p>
  <b>Flagged:</b>
  <%=h @behavior_tweet.flagged %>
</p>

<p>
  <b>Dataset:</b>
  <%=h @behavior_tweet.dataset_id %>
</p>

<p>
  <b>Lat:</b>
  <%=h @behavior_tweet.lat %>
</p>

<p>
  <b>Lon:</b>
  <%=h @behavior_tweet.lon %>
</p>

<p>
  <b>Dataset:</b>
  <%=h @behavior_tweet.dataset_id %>
</p>

<p>
  <b>Pubdate:</b>
  <%=h @behavior_tweet.pubdate %>
</p>

<p>
  <b>Link:</b>
  <%=h @behavior_tweet.link %>
</p>

<p>
  <b>Author:</b>
  <%=h @behavior_tweet.author %>
</p>

<p>
  <b>Realname:</b>
  <%=h @behavior_tweet.realname %>
</p>

<p>
  <b>Storyquery:</b>
  <%=h @behavior_tweet.storyquery %>
</p>

<p>
  <b>Datetime:</b>
  <%=h @behavior_tweet.datetime %>
</p>

<p>
  <b>Message:</b>
  <%=h @behavior_tweet.message %>
</p>

<p>
  <b>Analysis finished:</b>
  <%=h @behavior_tweet.analysis_finished %>
</p>

<p>
  <b>Tweet collector:</b>
  <%=h @behavior_tweet.tweet_collector_id %>
</p>

<p>
  <b>User name:</b>
  <%=h @behavior_tweet.user_name %>
</p>

<p>
  <b>Retweet count:</b>
  <%=h @behavior_tweet.retweet_count %>
</p>

<p>
  <b>Shared words:</b>
  <%=h @behavior_tweet.shared_words %>
</p>


<%= link_to 'Edit', edit_behavior_tweet_path(@behavior_tweet) %> |
<%= link_to 'Back', behavior_tweets_path %>