<p>
  <b>P cc:</b>
  <%=h @profile.p_cc %>
</p>

<p>
  <b>P degree:</b>
  <%=h @profile.p_degree %>
</p>

<p>
  <b>P twitter:</b>
  <%=h @profile.p_twitter_id %>
</p>

<p>
  <b>P screen name:</b>
  <%=h @profile.p_screen_name %>
</p>

<p>
  <b>P realname:</b>
  <%=h @profile.p_realname %>
</p>

<p>
  <b>P type:</b>
  <%=h @profile.p_type %>
</p>

<p>
  <b>P location:</b>
  <%=h @profile.p_location %>
</p>

<p>
  <b>P description:</b>
  <%=h @profile.p_description %>
</p>

<p>
  <b>P url:</b>
  <%=h @profile.p_url %>
</p>

<p>
  <b>P language:</b>
  <%=h @profile.p_language %>
</p>

<p>
  <b>P website type:</b>
  <%=h @profile.p_website_type %>
</p>

<p>
  <b>P notes:</b>
  <%=h @profile.p_notes %>
</p>

<p>
  <b>P followers:</b>
  <%=h @profile.p_followers %>
</p>

<p>
  <b>P following:</b>
  <%=h @profile.p_following %>
</p>

<p>
  <b>P following count:</b>
  <%=h @profile.p_following_count %>
</p>

<p>
  <b>P follower count:</b>
  <%=h @profile.p_follower_count %>
</p>

<p>
  <b>P in:</b>
  <%=h @profile.p_in %>
</p>

<p>
  <b>P out:</b>
  <%=h @profile.p_out %>
</p>

<p>
  <b>P statuses count:</b>
  <%=h @profile.p_statuses_count %>
</p>

<p>
  <b>P picture:</b>
  <%=h @profile.p_picture %>
</p>

<p>
  <b>P created at:</b>
  <%=h @profile.p_created_at %>
</p>

<p>
  <b>P time zone:</b>
  <%=h @profile.p_time_zone %>
</p>

<p>
  <b>P utc offset:</b>
  <%=h @profile.p_utc_offset %>
</p>

<p>
  <b>P verified:</b>
  <%=h @profile.p_verified %>
</p>

<p>
  <b>P geo enabled:</b>
  <%=h @profile.p_geo_enabled %>
</p>

<p>
  <b>P lang:</b>
  <%=h @profile.p_lang %>
</p>

<p>
  <b>P first pubdate:</b>
  <%=h @profile.p_first_pubdate %>
</p>

<p>
  <b>P first text:</b>
  <%=h @profile.p_first_text %>
</p>

<p>
  <b>P participation:</b>
  <%=h @profile.p_participation %>
</p>

<p>
  <b>P protected:</b>
  <%=h @profile.p_protected %>
</p>

<p>
  <b>Last update:</b>
  <%=h @profile.last_update %>
</p>

<p>
  <b>Times:</b>
  <%=h @profile.times %>
</p>

<p>
  <b>Erhardt:</b>
  <%=h @profile.erhardt %>
</p>

<p>
  <b>Gilad:</b>
  <%=h @profile.gilad %>
</p>

<p>
  <b>Danah:</b>
  <%=h @profile.danah %>
</p>

<p>
  <b>Mike:</b>
  <%=h @profile.mike %>
</p>

<p>
  <b>P edited by:</b>
  <%=h @profile.p_edited_by %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>