<p>
  <b>Twitter:</b>
  <%=h @tweet.twitter_id %>
</p>

<p>
  <b>Tweet:</b>
  <%=h @tweet.tweet_id %>
</p>

<p>
  <b>Text:</b>
  <%=h @tweet.text %>
</p>

<p>
  <b>Language:</b>
  <%=h @tweet.language %>
</p>

<p>
  <b>Source:</b>
  <%=h @tweet.source %>
</p>

<p>
  <b>User:</b>
  <%=h @tweet.user_id %>
</p>

<p>
  <b>Screen name:</b>
  <%=h @tweet.screen_name %>
</p>

<p>
  <b>Username:</b>
  <%=h @tweet.username %>
</p>

<p>
  <b>Location:</b>
  <%=h @tweet.location %>
</p>

<p>
  <b>In reply to status:</b>
  <%=h @tweet.in_reply_to_status_id %>
</p>

<p>
  <b>In reply to user:</b>
  <%=h @tweet.in_reply_to_user_id %>
</p>

<p>
  <b>Truncated:</b>
  <%=h @tweet.truncated %>
</p>

<p>
  <b>In reply to screen name:</b>
  <%=h @tweet.in_reply_to_screen_name %>
</p>

<p>
  <b>Created at:</b>
  <%=h @tweet.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @tweet.updated_at %>
</p>

<p>
  <b>Published:</b>
  <%=h @tweet.published %>
</p>

<p>
  <b>Flagged:</b>
  <%=h @tweet.flagged %>
</p>

<p>
  <b>Dataset:</b>
  <%=h @tweet.dataset_id %>
</p>

<p>
  <b>Lat:</b>
  <%=h @tweet.lat %>
</p>

<p>
  <b>Lon:</b>
  <%=h @tweet.lon %>
</p>

<p>
  <b>Dataset:</b>
  <%=h @tweet.dataset_id %>
</p>

<p>
  <b>Pubdate:</b>
  <%=h @tweet.pubdate %>
</p>

<p>
  <b>Link:</b>
  <%=h @tweet.link %>
</p>

<p>
  <b>Author:</b>
  <%=h @tweet.author %>
</p>

<p>
  <b>Realname:</b>
  <%=h @tweet.realname %>
</p>

<p>
  <b>Storyquery:</b>
  <%=h @tweet.storyquery %>
</p>

<p>
  <b>Datetime:</b>
  <%=h @tweet.datetime %>
</p>

<p>
  <b>Message:</b>
  <%=h @tweet.message %>
</p>

<p>
  <b>Analysis finished:</b>
  <%=h @tweet.analysis_finished %>
</p>

<p>
  <b>Tweet collector:</b>
  <%=h @tweet.tweet_collector_id %>
</p>

<p>
  <b>User name:</b>
  <%=h @tweet.user_name %>
</p>

<p>
  <b>Retweet count:</b>
  <%=h @tweet.retweet_count %>
</p>

<p>
  <b>Thread:</b>
  <%=h @tweet.thread_id %>
</p>

<p>
  <b>Shared words:</b>
  <%=h @tweet.shared_words %>
</p>

<p>
  <b>Words:</b>
  <%=h @tweet.words %>
</p>


<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>