<h1>Threads</h1>

<table>
  <tr>
    <th>thread id</th>
    <th>graph json</th>
    <th>graph</th>
    <th>actor breakdown</th>
    <th>actor paths</th>
  </tr>

<% @thread_ids.each do |thread_id| %>
  <tr>
    <td><%= thread_id %></td>
    <td><%= link_to thread_api_path(thread_id), thread_api_path(thread_id) %></td>
    <td><%= link_to thread_graph_path(thread_id), thread_graph_path(thread_id) %></td>
    <td><%= link_to actor_breakdown_path(thread_id), actor_breakdown_path(thread_id) %></td>
    <td><%= link_to actor_paths_path(thread_id), actor_paths_path(thread_id) %></td>
  </tr>
<% end %>
</table>